body {
  margin: 0;
}

/*SPEACIAL DEAL ANNOUNCEMENT*/
.discount {
  /* background-color: #aeebf3; */
  background-color: #754332;
  text-align: center;
  padding: 3px;
  color: white;
  font-style: italic;
}
main {
  background-color: #fba282;
}
/* VERTICAL NAV BAR */
.sidebar {
  background-color: #fbdfd8f1;
  min-width: 90px;
}
.bakery-logo {
  max-width: 200px;
  width: 90%;
  text-align: center;
  display: block;
}

.sidebar-button {
  min-width: 80px;
  width: 60%;
  padding-block: 0.5rem;
  margin-block: 20px;
  background-color: #ffdcab;
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.sidebar-button:hover {
  transform: scale(1.05);
}

.sidebar-button:active {
  box-shadow: 0 5px #666;
}
.sidebar-active {
  background-color: #ffbe63;
}

.main-content {
  margin-top: 30px;
}

/* DONUT CARD */
.card-body {
  border-radius: 10px;
}

.card-title {
  background-color: #fbdfd8f1;
  border-radius: 10px;
  padding: 3px;
  font-family: Chalkduster, fantasy;
}

.donut-card {
  background-image: url(/static/img/donut-card.jpeg);
  padding-right: 40%;
  padding-left: 40%;
}

.order-donut-btn {
  background-color: #ffdcab;
  color: black;
  border: 0px;
  font-family: Bradley Hand, cursive;
}

.order-donut-btn:hover {
  background-color: #ffbe63;
  border-color: none;
  transform: scale(1.2);
  box-shadow: 0 5px #ffdcab;
}

/* COFFEE CARD */
.coffee-card {
  margin-bottom: 30px;
  background-image: url(/static/img/coffee-card.jpg);
  padding-right: 40%;
  padding-left: 40%;
}

.order-coffee-btn {
  background-color: #ffdcab;
  color: black;
  border: 0px;
  font-family: Bradley Hand, cursive;
}

.order-coffee-btn:hover {
  background-color: #ffbe63;
  border-color: none;
  transform: scale(1.2);
  box-shadow: 0 5px #ffdcab;
}

/* Coffee Menu */
.coffee-menu-title {
  background-color: #fbdfd8f1;
  font-family: Marker Felt, fantasy;
  margin-top: 30px;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 10px;
}

.coffee-menu-title {
  --b: 6px;
  --w: 440px;
  --g: 15px;
  --c: #754332;

  width: fit-content;
  padding: 0 1em;
  line-height: 1.6em;
  border: 1px solid;
  color: #fff;
  background: conic-gradient(from 45deg at left, var(--c) 25%, #0000 0) 0,
    conic-gradient(from -135deg at right, var(--c) 25%, #0000 0) 100%;
  background-size: 51% 100%;
  background-origin: border-box;
  background-repeat: no-repeat;
  border-image: linear-gradient(
      #0000 calc(50% - var(--b) / 2),
      var(--c) 0 calc(50% + var(--b) / 2),
      #0000 0
    )
    1/0 var(--w) / calc(var(--w) + var(--g));
  margin-inline: auto;
}

.menu-card-body {
  background-color: #9c6f44;
  border-radius: 10px;
  padding: 3px;
  color: white;
  font-family: Jazz LET, fantasy;
}

.menu-card-title {
  background-color: #563517;
  color: white;
}

.coffee-menu {
  margin-top: 20px;
}
